.checkbox {
  &__label {
    height: 18px;
    width: 18px;
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: 1.5px solid $requestHeaderText;
    border-radius: 3px;
  }
  &__input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;
    &:focus {
      box-shadow: none;
    }
  }
}
.checkbox__input:checked + .checkbox__label:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 5px;
  transform: translate(-50%, -80%) rotate(-45deg);
  background-color: transparent;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
.checkbox__input:checked + .checkbox__label{
   background-color: $requestConfirmedText;
   border-color: $requestConfirmedText;
}
