.left-side {
   &__user {
      display: flex;
      align-items: center;
      margin: 43px 0px 70px 0px;
      &-avatar {
         position: relative;
         width: 44px;
         height: 44px;
         border-radius: 50%;
         overflow: hidden;
         margin: 0px 15px 0px 0px;
      }
      &-name {
         flex: 1 0 0;
      }
      &-enter {
         position: relative;
         width: 18px;
         height: 18px;
      }
   }
}